head h2 {
	margin-left:50%;
}

body {
	color:#E8E8E8;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

img {
	max-width: 100%; 
	}

	

#base{
	width:80%;
	height:800px;
	margin: 0 auto;
	position:relative;

}

#background {
	background: url(./img/sunset.jpg);

}

#contentArea {
	width:100%;
	height:800px;
	margin: 0 auto;
	border-bottom:1px solid white;
}


#searchbox {
	height:320px;
	width:35%;
	float:right;
}

#alertData {
	margin-left:2.5%;
	margin-top:2%;
	height:85%;
	width:95%;
	border-bottom:1px solid white;
	border-right:gray;
	overflow-y:scroll;
}

#alertData span {
	margin-top:30px;
	margin-left:5px;
	margin-right:20px;
	margin-bottom:40px;
}

#alertTitle {
	margin-left:35%;
}

#alertData h5{
	font-size:120%;
	margin-top:1.5%;
	margin-left:0%;
	margin-right:0%;
	margin-bottom:0%;
	padding:0;
}

#alertData p {
	margin-top:10px;
	margin-left:3px;
	margin-right:3px;
	padding:0;
	
}

#paragraphText p {
	font-size:70%;
	line-height:50%;
}

.relevantItem {
	
	height:20%;
	width:95%;
	margin-left:2%;
	margin-top:2.5%;
	text-align:center;
	/*border:1px solid white;*/
}

#current {
	position:relative;
	height:40%;
	width:65%;
	border:1px solid gray;
}

#otherRelevantData {
	margin-left:10px;
	position:relative;
	height:25%;
	width:20%;
	float:left;
	
}

#currentWeatherContainer {
	height:66%;
	width:100%;
}


#left {
	
	height:100%;
	width:40.5%;
	float:left;
	/*border: 1px solid white;*/
	border-right:1px solid gray;
}

#left h1 {
	margin-top:0.35%;
	margin-left:6%;
	margin-bottom:0%;
	padding:0%;
	line-height:70%;
}


#left p {
	margin-top:0;
	margin-left:5%;
	margin-bottom:1%;
	font-size:110px;
	padding:0;
	line-height:90%;	
}

#left h3 {
	margin-top:0%;
	margin-left:6%;
	margin-bottom:0%;
	padding:0%;

	
}

#right {
	text-align:left;
	padding:0;
	margin:0;
	height:100%;
	width:59%;
	float:left;
	border-right:1px solid white;
	border-top:1px solid white;
	border-bottom:1px solid white;
	

}



#right h5 {
	font-size:120%;
	margin:0;
	padding:0;
}

#right p {
	line-height:110%;
	margin:0;
	padding:0;
}


.extraItem {
	text-align:center;
	float:left;
	width:45%;
	height:33%;
	margin-left:2.25%;
	margin-right:2.25%;
	margin-top:3.5%;
	margin-bottom:3.5%;
}

.extraItemTitle {
	text-align:center;
}



#forecastHourContainer {

	position:absolute;
	bottom:7%;
	height:25%;
	width:100%;
	/*border-left:1px solid white;
	border-right:1px solid white;*/
}

#forecastHourly {
	margin:0;
	padding:0;
	width:100%;
	overflow-x:scroll;
	list-style-type:none;
	white-space:nowrap;
	
	
	
}

#forecastHourly li {
	display: inline-block;

}


.forecastHour{
	height:25%;
	width:100px;
	float:left;
	/*border:1px solid white;*/
	text-align:center;
}

.forecastHour h4 {
	margin:0;
	padding:0;
}

.forecastHour h5 {
	margin:0;
	padding:0;
}


#forecastContainer {
	
	height:15%;
	width:100%;
}
#forecastDaily {
	margin:0;
	padding:0;
	width:100%;
	white-space-nowrap;
	list-style-type:none;
}



#history {
	height:40%;
	width:100%;
}


#historicalData {
	
	width:97%;
	height:100%;
	margin-left:0.25%;
	margin-top:0.75%;
}

#myChart {
	width:100%;
	height:25%;
}




#historicalData li {
}


.graph{
	margin:0.25%;
	height:150px;
	width:100%;
}


.forecastDay {
	margin:0.25%;
	float:left;
	height:95%;
	width:13.5%;
	/*border:1px solid white;*/
	text-align:center;
}

.forecastDay h3 {
	margin:0;
	margin-bottom:5%;
	padding:0;
	text-align:center;
}

.forecastDay h4 {
	margin:0;
	padding:0;
}


form{
	margin-left:3%;
	margin-top:4%
}

#historyDropDown {
	width:20%;
	height:35%;
	margin-left:14%;
	margin-top:0.75%;
	position:absolute;
	background-color: rgba(255,250,250, 0.75);

	border:1px solid white;
	overflow-y:scroll;
	z-index:1;
	display:none;
}

#historyDropDown p {
	color:black;
}

#historyDropDown ul {
	text-align:left;
	list-style:none;
	list-style-type:none;
	padding:0;
	margin:0;
	color:black;
	font-weight:bold;
}

#historyDropDown ul li {
	padding:10px;
	font-size:120%;
}

#historyDropDown ul li:hover {
	background-color:blue;
	
}


button[type="button"]
{	background-color:blue;
	width:21%;
	margin-left:3%;
    font-size:12px;
	color:white;
}


#darkSkyLink {
	float:left;
	margin-left:30%;
	margin-right:10%;
	color:white;
}

#iconLink {
	float:center;
	margin-left:30px;
}

#iconLink a {
	color:#F0FFFF;
}

#name {
	float:right;
	padding-right:10%;
}